<!-- cart/templates/cart/cart.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="py-3">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{ item.product.images.first.image_url }}" alt="{{ item.product.name }}"
                                        class="img-fluid">
                                </div>
                                <div class="col-8">
                                    <h3>{{ item.product.name }}</h3>
                                </div>
                            </div>
                        </td>
                        <td class="py-3">€{{ item.product.price }}</td>
                        <td class="py-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-outline-secondary btn-minus"
                                        data-field="quantity" data-type="minus"
                                        data-item-id="{{ item.product.id }}">-</button>
                                </span>
                                <input type="text" name="quantity" class="form-control input-number qty_input"
                                    value="{{ item.quantity }}" min="1" max="99" data-item-id="{{ item.product.id }}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-outline-secondary btn-plus"
                                        data-field="quantity" data-type="plus"
                                        data-item-id="{{ item.product.id }}">+</button>
                                </span>
                            </div>
                        </td>
                        <td class="py-3 item-total" data-item-id="{{ item.id }}" data-product-id="{{ item.product.id }}"
                            data-price="{{ item.product.price }}">
                            Product ID: {{ item.product.id }} €{{ item.item_total }}
                        </td>

                        <td class="py-3">
                            <button type="button" class="btn btn-link remove-item" data-item-id="{{ item.product.id }}">
                                <i class="fas fa-trash-alt text-danger"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pt-3">
                <label for="deliveryOption" class="form-label">Select Delivery Option:</label>
                <select class="form-select" id="deliveryOption" name="deliveryOption">
                    <option value="pickup">Pickup</option>
                    <option value="local_delivery">Local Delivery</option>
                    <option value="national_delivery">National Delivery</option>
                </select>
            </div>
            <div class="text-right">
                <p id="deliveryCost">Delivery Cost: €{{ delivery|default:"0.00" }}</p>
                <h3>Total:<span id="grandTotal">{{ grand_total|default:"0.00" }}</span></h3>
            </div>

            <div class="text-right">
                <button type="button" class="btn" style="background-color:#462b48; color:#ffffff;">Checkout</button>
            </div>
            {% else %}
            <p class="lead mb-5">Your cart is empty.</p>
            <a href="{% url 'products:all_products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}