{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- Home section -->
    <div class="row home-section">
        <div class="col-md-6 content" data-aos="zoom-out-right">
            <h2 class="display-4">Delicious Cakes Crafted to Perfection</h2>
            <p class="lead">Welcome to the world of exquisite cakes that tantalize your taste buds and elevate your
                celebrations. At Cake Bliss, we craft delicious, handcrafted cakes that are perfect for every occasion.
            </p>
            <!-- Order Now button with custom class -->
            <a href="{% url 'products:all_products' %}" class="btn btn-lg order-now-button">Order Now</a>
        </div>
        <div class="col-md-6 img" data-aos="zoom-out-left">
            <!-- Image or other content goes here -->
        </div>
    </div>
</div>
{% endblock %}