/* custom.css */

/* Apply styles similar to your body */
body {
    background: url('/static/images/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #ffffff;
    font-family: 'Lato';
    margin: 0;
    /* Remove default body margin */
}

h2 {
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    color: #9b6e2f;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}



/* Style the navigation bar */
#navbar {
    background-color: rgb(38, 15, 38);
}

/* Style the logo */
#logo img {
    width: 100px;
    height: auto;
}

/* Style the search form in the navigation bar */
.navbar-form {
    margin-right: 20px;
}

/* Add styles for the user authentication and icons */
.navbar-nav li {
    margin-right: 10px;
}

.nav-link {
    color: white;
}

/* Style for the home section */
.home-section {
    margin-top: 80px;
    /* Adjust the margin based on your navbar height */
}

/* Style for the content column */
.content {
    padding: 40px;

}

/* Custom style for the Order Now button */
.order-now-button {
    background-color: rgb(38, 15, 38);
    color: #fff;

}

@media (max-width: 768px) {
    .home-section {
        margin-top: 60px;
        /* Adjust margin for smaller screens */
    }

    .content {
        padding: 20px;
        /* Reduce padding for smaller screens */
    }
}