{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Your Cart</h2>

    {% if cart_items %}
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Item Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>€{{ item.product.price }}</td>
                <td>€{{ item.item_total }}</td>
                <td>
                    <a href="{% url 'view_cart' %}">Adjust Quantity</a>

                    <form method="post" action="{% url 'remove_from_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.product.id }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Total: €{{ total }}</p>
    <p>Delivery: €{{ delivery }}</p>
    <p>Grand Total: €{{ grand_total }}</p>

    <form method="post" action="#">
        {% csrf_token %}
        <label for="delivery_option">Select Delivery Option:</label>
        <select name="delivery_option" id="delivery_option">
            <option value="pickup" {% if selected_delivery_option == 'pickup' %}selected{% endif %}>Pickup</option>
            <option value="local_delivery" {% if selected_delivery_option == 'local_delivery' %}selected{% endif %}>
                Local Delivery</option>
            <option value="national_delivery"
                {% if selected_delivery_option == 'national_delivery' %}selected{% endif %}>National Delivery</option>
        </select>
        <button type="submit">Proceed to Checkout</button>
    </form>

    {% else %}
    <h1>Your cart is empty.</h1>
    <a href="{% url 'products:all_products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fa-solid fa-arrow-left" style="color: #462b48;"></i>
        </span>
        <span class="text-uppercase">Our Menu</span>
    </a>
    {% endif %}
</div>
{% endblock %}